<div class="simple-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: url(&quot;assets/img/alexandru-bogdan-ghita-UeYkqQh4PoI-unsplash.jpg&quot;) center center / cover no-repeat;"></div>
            <div class="swiper-slide" style="background: url(&quot;assets/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg&quot;) center center / cover no-repeat;"></div>
            <div class="swiper-slide" style="background: url(&quot;assets/img/tim-toomey-STqHLqMne3k-unsplash.jpg&quot;) center center / cover no-repeat;"></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<section class="contact-clean">
    <form method="post">
        <h2 class="text-center">İletişime Geçelim</h2>
        <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="İsim"></div>
        <div class="mb-3"><input class="form-control " type="email" name="email" placeholder="E-Posta"></div>
        <div class="mb-3"><textarea class="form-control" name="message" placeholder="Mesajınız" rows="14"></textarea></div>
        <div class="mb-3"><button class="btn btn-primary" type="submit">Gönder</button></div>
    </form>
</section>
<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Hizmetlerimiz</h3>
                <ul>
                    <li><a href="#">Vale</a></li>
                    <li><a href="#">Garsoniyer</a></li>
                    <li><a href="#">Ulaşım</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Hakkımızda</h3>
                <ul>
                    <li><a href="#">İşletme</a></li>
                    <li><a href="#">Takım</a></li>
                    <li><a href="#">Kariyer</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>E-menu</h3>
                <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
            </div>
            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
        </div>
        <p class="copyright">Berkant Akyıldız © 2024</p>
    </div>
</footer>