<div class="simple-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: url(&quot;assets/img/alexandru-bogdan-ghita-UeYkqQh4PoI-unsplash.jpg&quot;) center center / cover no-repeat;"></div>
            <div class="swiper-slide" style="background: url(&quot;assets/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg&quot;) center center / cover no-repeat;"></div>
            <div class="swiper-slide" style="background: url(&quot;assets/img/tim-toomey-STqHLqMne3k-unsplash.jpg&quot;) center center / cover no-repeat;"></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<section class="highlight-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Lezzetli Ürünlerimizi Menüden Görebilirsiniz</h2><h2>Hakkımızda</h2>
  <p>E-Menu olarak, sizlere dünya mutfağının en lezzetli örneklerini sunmak için buradayız. 2024 yılında İstanbul'da kurulduğumuzdan beri, farklı kültürlerin ve geleneklerin zengin bir yansıması olan bu geniş mutfak yelpazesini keşfetmeniz için size yardımcı oluyoruz.</p>
  <h3>Menümüzde Neler Var?</h3>
  <ul>
    <li>Akdeniz mutfağının zeytinyağlıları, taze sebzeleri ve deniz ürünleriyle öne çıkan sağlıklı ve lezzetli seçenekleri</li>
    <li>Asya mutfağının baharatlı ve egzotik lezzetleri</li>
    <li>Avrupa mutfağının klasik ve modern dokunuşlarla harmanlanmış tatları</li>
    <li>Latin Amerika mutfağının canlı ve baharatlı lezzetleri</li>
    <li>Afrika mutfağının özgün ve yerel ürünlerle hazırlanan lezzetleri</li>
  </ul>
  <h3>E-Menu'de Neler Var?</h3>
  <ul>
    <li>Kolay sipariş: E-Menu mobil uygulamamız veya web sitemiz üzerinden kolayca sipariş verebilirsiniz.</li>
    <li>Hızlı teslimat: Siparişleriniz en kısa sürede, sıcak ve taze bir şekilde kapınıza teslim edilir.</li>
    <li>Uygun fiyatlar: Lezzetli ve kaliteli yemeklerimizi, her bütçeye uygun fiyatlarla sunuyoruz.</li>
  </ul>
 
        </div>
    </div>
</section>
<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Hizmetlerimiz</h3>
                <ul>
                    <li><a href="#">Vale</a></li>
                    <li><a href="#">Garsoniyer</a></li>
                    <li><a href="#">Ulaşım</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Hakkımızda</h3>
                <ul>
                    <li><a href="#">İşletme</a></li>
                    <li><a href="#">Takım</a></li>
                    <li><a href="#">Kariyer</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>E-menu</h3>
                <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
            </div>
            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
        </div>
        <p class="copyright">Berkant Akyıldız © 2024</p>
    </div>
</footer>