<div class="simple-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: url(assets/img/alexandru-bogdan-ghita-UeYkqQh4PoI-unsplash.jpg) center center / cover no-repeat;"></div>
            <div class="swiper-slide" style="background: url( assets/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg ) center center / cover no-repeat;"></div>
            <div class="swiper-slide" style="background: url( assets/img/tim-toomey-STqHLqMne3k-unsplash.jpg ) center center / cover no-repeat;"></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<section class="highlight-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Lezzetli Ürünlerimizi Menüden Görebilirsiniz</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
    </div>
</section>
<div data-bss-parallax-bg="true" style="height: 500px;background: url( assets/img/kyle-head-PW8K-W-Kni0-unsplash.jpg ) center / cover;"></div>
<section class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Ziyaretçi Yorumları</h2>
            <p class="text-center">Our customers love us! Read what they have to say below. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="author"><img class="rounded-circle" src="assets/img/1.jpg">
                    <h5 class="name">Ali Bey</h5>
                    <p class="title">İş İnsanı</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id.</p>
                </div>
                <div class="author"><img class="rounded-circle" src="assets/img/3.jpg">
                    <h5 class="name">Hakan Ural</h5>
                    <p class="title">Ünlü Futbolcu</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">Aliquam varius finibus est, et interdum justo suscipit. Vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                </div>
                <div class="author"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h5 class="name">Ajda Hanım</h5>
                    <p class="title">Jet Sosyete</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Hizmetlerimiz</h3>
                <ul>
                    <li><a href="#">Vale</a></li>
                    <li><a href="#">Garsoniyer</a></li>
                    <li><a href="#">Ulaşım</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Hakkımızda</h3>
                <ul>
                    <li><a href="#">İşletme</a></li>
                    <li><a href="#">Takım</a></li>
                    <li><a href="#">Kariyer</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>E-menu</h3>
                <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
            </div>
            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
        </div>
        <p class="copyright">Berkant Akyıldız © 2024</p>
    </div>
</footer>